In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [4]:
employee_df = pd.read_csv("Resources/general_data.csv")

In [11]:
employee_df.head()

,EmployeeID,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,Gender,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,1,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,...,1.0,6,1,0,0,3.0,4.0,2.0,3,3
1,2,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,Female,...,6.0,3,5,1,4,3.0,2.0,4.0,2,4
2,3,32,No,Travel_Frequently,Research & Development,17,4,Other,1,Male,...,5.0,2,5,0,3,2.0,2.0,1.0,3,3
3,4,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,Male,...,13.0,5,8,7,5,4.0,4.0,3.0,2,3
4,5,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,Male,...,9.0,2,6,0,4,4.0,1.0,3.0,3,3

In [13]:
# Check if some columns are redundant (standard working hours, employee count, Over 18 years old)
print(employee_df["StandardHours"].unique())
print(employee_df["EmployeeCount"].unique())
print(employee_df["Over18"].unique())

[8]
[1]
['Y']

The above 3 columns only have 1 value, hence they are meaningless for analysis. Will have them removed.

In [14]:
# Drop 3 meaningless columns
employee_df.drop(["StandardHours", "EmployeeCount", "Over18"], axis=1, inplace=True)

In [12]:
# Understand CSV

print("Shape of the dataframe:" ,employee_df.shape, "\n")
print("Dataframe has rows:" ,employee_df.shape[0],"\n")
print("Dataframe has columns:" ,employee_df.shape[1],"\n")
print("Columns names are:" ,employee_df.columns,"\n")
print("NULL values in dataframe:","\n")
print(employee_df.isnull().sum())
# employee_df.describe()

Shape of the dataframe: (4410, 29)

Dataframe has rows: 4410

Dataframe has columns: 29

Columns names are: Index(['EmployeeID', 'Age', 'Attrition', 'BusinessTravel', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'Gender', 'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance',
       'JobInvolvement', 'PerformanceRating'],
      dtype='object')

NULL values in dataframe:

EmployeeID                  0
Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38
JobInvolvement              0
PerformanceRating           0
dtype: int64

In [ ]:
# Attrition Ratio in different departments, including different background, sex

In [ ]:
# Which level of employees left the company the most and the personal info